<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title><%= configuration.site_name %></title>
    <link><%= configuration.site_root_url %></link>
    <atom:link href="<%= configuration.feed_url %>" rel="self" type="application/rss+xml" />
    <description></description>
    <% site.note_pages.each do |page| %>
    <item>
      <title><%= page.title %></title>
      <link><%= page.url %></link>
      <guid><%= page.uid %></guid>
      <description><![CDATA[<%= page.body %>]]></description>
    </item>
    <% end %>
  </channel>
</rss>
