<main class="my-4">
  <p class="my-4">Tags:</p>
  <ul class="list-inline my-4">
    <% tags.each do |tag| %>
      <li class="list-inline-item">
        <a href="/tags/<%= tag %>" class="btn btn-sm btn-outline-secondary"><%= tag %></a>
      </li>
    <% end %>
  </ul>
  <p class="my-4">Notes:</p>
  <ul>
    <% pages.each do |page| %>
      <li class="my-2">
        <a href="<%= page["page_path"] %>"><%= page["title"] %></a>
        <% if page["published_at"] %>
          <small class="text-muted"><time datetime="<%= page["published_at"].to_time %>"><%= page["published_at"].strftime("%Y/%m/%d") %></time></small>
        <% end %>
      </li>
    <% end %>
  </ul>
</main>
