<main>
  <div class="flex flex-row flex-wrap items-stretch !my-8">
    <% site.tags.each do |tag| %>
      <a href="/tags/<%= tag %>" class="block border rounded-md py-0 px-2 my-1 mr-2 no-underline font-normal bg-slate-100 !text-slate-800 border-slate-200"><%= tag %></a>
    <% end %>
  </div>
  <p>Notes:</p>
  <ul>
    <% site.pages.each do |page| %>
      <li>
        <a href="<%= page.public_path %>"><%= page.title %></a>
        <% if page.published_at %>
          <small><time datetime="<%= page.published_at.to_time %>"><%= page.published_at.strftime("%Y/%m/%d") %></time></small>
        <% end %>
      </li>
    <% end %>
  </ul>
</main>
