<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <link rel="icon" href="data:," />
  <link href="/style.css" rel="stylesheet">
  <style>
    <%=
      # SEE: https://github.com/rouge-ruby/rouge/tree/master/lib/rouge/themes
      Rouge::Themes::Github.render(scope: ".highlight")
    %>
  </style>
</head>
<body>
  <div class="prose prose-slate lg:prose-lg prose-h1:text-4xl prose-headings:font-semibold container mx-auto px-4 py-4">
    <nav class="py-4">
      <a href="<%= URI.parse(site_root_url).path %>"><%= site_name %></a>
    </nav>
    <main>
      <%= yield %>
    </main>
    <footer>
      <% if locals["published_at"] %>
        <small><%= published_at.strftime("%e %b %Y") %></small>
      <% end %>
    </footer>
  </div>
</body>
</html>
