<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="author" content="<%= configuration.author_name %>">
  <meta name="description" content="" />
  <title><%= [page.respond_to?(:title) ? page.title : nil, configuration.site_name].compact.join(" - ") %></title>
  <link rel="alternate" type="application/rss+xml" title="<%= configuration.site_name %>" href="<%= configuration.feed_url %>">
  <link rel="icon" href="data:," />
  <link href="/style.css" rel="stylesheet" type="text/css">
  <style>
    <%=
      # SEE: https://github.com/rouge-ruby/rouge/tree/master/lib/rouge/themes
      Rouge::Themes::Github.render(scope: ".highlight")
    %>
  </style>
  <script src="https://cdn.counter.dev/script.js" data-id="d94a1231-14bd-47f9-ad32-cf1a9b40d2a5" data-utcoffset="2"></script>
</head>
<body>
  <div class="prose prose-slate lg:prose-lg prose-h1:text-4xl prose-headings:font-semibold prose-a:text-sky-800 container mx-auto !px-4 !py-4">
    <nav class="!my-8">
      <a href="<%= configuration.site_root_path %>"><%= configuration.site_name %></a>
    </nav>
    <main>
      <%= yield %>
    </main>
    <footer>
      <hr class="!my-8">
      <p class="not-prose text-slate-400">
        <% if page.respond_to?(:published_at) %><%= page.published_at.strftime("%e %b %Y") %> &middot;<% end %>
        <a href="<%= configuration.feed_path %>">RSS</a>
      </p>
    </footer>
  </div>
</body>
</html>
