<h1 class="!my-8 !leading-tight"><a href="<%= page.public_path %>" class="no-underline"><%= page.title %></a></h1>

<%= page.body %>

<% if page.tags.any? %>
  <hr class="!my-8">
  <div class="flex flex-row flex-wrap items-stretch !my-8">
    <%= components.tags_list(tags: page.tags) %>
  </div>
<% end %>

<% site.related_to(page).tap do |related_pages| %>
  <% if related_pages.any? %>
    <hr class="!my-8">
    <p>Somewhat related:</p>
    <%= components.pages_list(related_pages) %>
  <% end %>
<% end %>
