<h1><a href="<%= page_path %>"><%= title %></a></h1>

<%= content %>

<hr class="!my-8">

<% if tags.any? %>
  <p>Tags:</p>
  <div class="flex flex-row flex-wrap items-stretch">
    <% tags.each do |tag| %>
      <a href="/tags/<%= tag %>" class="block border rounded-sm py-0 px-2 mb-2 mr-2 no-underline font-normal bg-slate-100 text-slate-800 border-slate-200"><%= tag %></a>
    <% end %>
  </div>
<% end %>

<% if related_pages.any? %>
  <p>Somewhat related:</p>
  <ul>
    <% related_pages.each do |page| %>
      <li>
        <a href="<%= page["page_path"] %>"><%= page["title"] %></a>
        <% if page["published_at"] %>
          <small><time datetime="<%= page["published_at"].to_time %>"><%= page["published_at"].strftime("%Y/%m/%d") %></time></small>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
